.superInput {
    border-radius: 5px;
    border: 1px solid black;
    background: white;
}
.superInput:hover { background: #a7a7a7; }

.errorInput {
    border-radius: 5px;
    border: 2px solid red;
    background: white;
}

.error {
    color: red;
}