.default {
    display: inline-block;
    background-color: #999999;
    color: white;
    padding: .5em 1em;
    border: 2px solid;
    border-radius: 5px;
}
.default:hover { background: #06adff; }

.red {
    display: inline-block;
    background-color: white;
    color: red;
    padding: .5em 1em;
    border: 2px solid;
    border-radius: 5px;
}
.red:hover { background: #a7a8c1; }
